body {
  background-image: url("images/stardust.jpg");
  background-color: #2f1994;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1{
  font-family: "Domine", serif;
  text-align: center;
  color: rgb(145, 26, 10);
  font-size:50px;
  top: 20px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "Doto", sans-serif;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  font-variation-settings:
    "ROND" 0;
  color: rgb(19, 155, 209);
}

.IMAGE img{
  height:300px;
  width:350px;
}
#planets{
  text-align: center;
  color: rgb(15, 184, 68);
  white-space:normal;
  font-size:20px;
  outline-style: double #2eaddb;
  line-height: 1.5;
  .federo-regular {
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
}