body {
  background-IMAGE: url(images/solar.gif), url(images/stardust.jpg);
  background-color: #2f1994;
  background-position: right top, left top;
  padding: 15px
}

h1{
  font-family: "Domine", serif;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:50px;
  font-style: normal;
  color: rgb(145, 26, 10);
}

h2{
  font-family: "Doto", sans-serif;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  font-variation-settings:
    "ROND" 0;
  color: rgb(19, 155, 209);
}

.planets {
  width: 50%;
  margin: 0 auto 48px;
  border-collapse: collapse;
  background: rgb(40, 42, 43);
  border: 1px solid rgb(3, 3, 3);
  font-color: rgb(74, 149, 181);
}

/*
.planets th,td {
  padding: 14px 16px;
  border: 1px solid rgb(140, 197, 222);
  vertical-align: center;
}

.planets th {
//  background: rgb(14, 13, 13);
//  color: rgb(15, 184, 68)
//  text-align: center-left;
}
*/

.planets img {
  display: block;
  width: 184px;
  height: 184px;
  object-fit: contain;
  margin: 1px auto;
}