body {
    background-image: url("images/stardust.jpg");
    background-position: center;
}
h1{
.doto-<uniquifier> {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 70px;
  font-variation-settings:
    "ROND" 0;
}
}

.IMAGE img{
  height:300px;
  width:300px;
}
#planets{
  color:blue;
  font-size:20px;
  .federo-regular {
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
}
.welcome{
  color:red;
  font-size:50px;
  position: center;
  top: 20px;
  right: 20px;
  .domine-<uniquifier> {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
}